body, button, input, select, textarea {
    font:12px/1.5 tahoma, arial, "Hiragino Sans GB", \5b8b\4f53
}
body {
	padding-top: 60px;
}
.container {}

.ng-valid {
	/*border-color: #468847;*/
}
.ng-invalid {
	border-color: #B94A48;
}